In [1]:
import pandas as pd

In [5]:
flight_delay_df=pd.read_csv('FlightDelays.csv')

C:\Users\AB\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
flight_delay_df.head(10)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,CARRIER,FL_NUM,Route,ORIGIN,...,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,PASSENGERS,EMPFULL,EMPPART,EMPTOTAL,EMPFTE,NET_INCOME,OP_REVENUES
0,2018,1,1,1,1,2018-01-01,9E,3331,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
1,2018,1,1,1,1,2018-01-01,9E,3940,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
2,2018,1,1,2,2,2018-01-02,9E,3409,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
3,2018,1,1,2,2,2018-01-02,9E,3940,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
4,2018,1,1,3,3,2018-01-03,9E,3353,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
5,2018,1,1,3,3,2018-01-03,9E,3280,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
6,2018,1,1,4,4,2018-01-04,9E,3353,42,ABY,...,27.0,0.0,0.0,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
7,2018,1,1,4,4,2018-01-04,9E,3280,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
8,2018,1,1,5,5,2018-01-05,9E,3353,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25
9,2018,1,1,5,5,2018-01-05,9E,3280,42,ABY,...,NaN,NaN,NaN,2677.0,4191.0,109.0,4300.0,4246.0,-126.37,674.25

In [7]:
flight_delay_df.tail(10)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,CARRIER,FL_NUM,Route,ORIGIN,...,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,PASSENGERS,EMPFULL,EMPPART,EMPTOTAL,EMPFTE,NET_INCOME,OP_REVENUES
10915485,2019,2,6,25,2,2019-06-25,YX,4506,6671,XNA,...,47.0,0.0,0.0,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52
10915486,2019,2,6,25,2,2019-06-25,YX,4478,6671,XNA,...,5.0,0.0,74.0,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52
10915487,2019,2,6,26,3,2019-06-26,YX,4506,6671,XNA,...,NaN,NaN,NaN,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52
10915488,2019,2,6,26,3,2019-06-26,YX,4478,6671,XNA,...,32.0,0.0,0.0,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52
10915489,2019,2,6,27,4,2019-06-27,YX,4506,6671,XNA,...,NaN,NaN,NaN,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52
10915490,2019,2,6,27,4,2019-06-27,YX,4478,6671,XNA,...,NaN,NaN,NaN,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52
10915491,2019,2,6,28,5,2019-06-28,YX,4506,6671,XNA,...,NaN,NaN,NaN,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52
10915492,2019,2,6,28,5,2019-06-28,YX,4478,6671,XNA,...,NaN,NaN,NaN,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52
10915493,2019,2,6,30,7,2019-06-30,YX,4506,6671,XNA,...,NaN,NaN,NaN,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52
10915494,2019,2,6,30,7,2019-06-30,YX,4478,6671,XNA,...,0.0,0.0,0.0,3026.0,5831.0,311.0,6142.0,5987.0,21462.49,332085.52